<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Forum App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/post">New Post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {% if session.username %}
      <li><a href="/logout">Not {{session.username}}? Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
